<%
all_numbers = [*1..20]

six_numbers = all_numbers.shuffle[0, 6]


my_number1 = my_number1.to_i
my_number2 = my_number2.to_i
my_number3 = my_number3.to_i
my_number4 = my_number4.to_i
my_number5 = my_number5.to_i
my_number6 = my_number6.to_i

my_number_array = [my_number1,my_number2,my_number3,my_number4,my_number5,my_number6]

%>

<br><br><br>
<h1>
The lottery number is:
<br>
<%= six_numbers %>
<br><br>
Your selected numbers are:
<br>
<!-- 
<%= my_number1 %>,
<%= my_number2 %>,
<%= my_number3 %>,
<%= my_number4 %>,
<%= my_number5 %>,
<%= my_number6 %>, -->
<%= my_number_array %>

<%
matches = compare(my_number_array,six_numbers)
%>
<br><br><br>
You matched <%= matches   %>  numbers</h1>

<%if matches == 0
	win = 1
 	$tokens = $tokens
  elsif matches == 1
  	win = 0
  	$tokens = $tokens - 1	
  elsif matches == 2
  	win = 0
  	$tokens = $tokens - 1	
  elsif matches == 3
  	win = 2
  	$tokens = $tokens + 1	
  elsif matches == 4
  	win = 5
  	$tokens = $tokens + 4	
  elsif matches == 5
  	win = 100
  	$tokens = $tokens + 99
  elsif matches == 6
  	win = 10000
  	$tokens = $tokens + 9999		  	  	  	
 end 
	
%>

<p id="demo"></p>



<h1>You won <%= win %>  tokens. <br>
You now have <%= $tokens %>  tokens remaining.</h1>
<script>
myFunction()


function myFunction() {
    if (<%= $tokens %> < 1) {
    	
         return document.getElementById("demo").innerHTML = "You are out of tokens but you will be given 10 more tokens to keep playing";
    } 
   
}
</script>

<%
if $tokens < 1
	$tokens =10
end		
%>

<br>
<br>
<h1><a href="http://localhost:4567/">Click to play again</a></h1>
